In [26]:
# COLLAPSE CELL
# PMsearch np.v*
#x = data['mass']
#x?

# from jupyterthemes import jtplot
# jtplot.style(theme='solarized')
# from jupyterlab_table import JSONTable
# JSONTable(df)

from IPython.display import HTML, display

from pprint import pprint
import math
import statsmodels.stats as sms
import statsmodels.api as sm
import statsmodels.regression as smr
import scipy.stats as stats
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)

# 04atplotlib inline
# %load_ext heat

plt.ion()
# plt.ioff()

# %heat

import os 
# dir_path = os.path.dirname(os.path.realpath(__file__))
cwd = os.getcwd()

# fig, ax = plt.subplots()
# ax.plot(x, y)

import unittest
import pytest

In [20]:
# DONE
import random
def roll_the_dice(n_simulations = 1000):
    '''
    INPUT: INT
    OUTPUT: FLOAT
    Two unbiased, six sided, dice are thrown once and the sum of the showing
    faces is observed (so if you rolled a 3 and a 1, you would observe the sum,
    4). Use a simulation to find the estimated probability that the total score
    is an even number or a number greater than 7.  Your function should return 
    an estimated probability, based on rolling the two dice n_simulations times.
    '''

    rolls = []
    
    for i in range(n_simulations):
        dies = random.randint(1, 6) + random.randint(1, 6)
        if dies > 7 or dies % 2 == 0:
            rolls.append(1)
        else:
            rolls.append(0)
    
    sum_rolls = np.mean(rolls) 
    
    return np.mean(rolls)
    
#     for x in range(n_simulations):
#         for y in range(n_simulations):
#             print(sides[x] + sides[y])
    

roll_the_dice(1000)

0.669

In [167]:
# DONE
def calculate_clickthrough_prob(clicks_A, views_A, clicks_B, views_B):
    '''
    INPUT: INT, INT, INT, INT
    OUTPUT: FLOAT
    Calculate and return an estimated probability that SiteA performs better
    (has a higher click-through rate) than SiteB.
    Hint: Use Bayesian A/B Testing (multi-armed-bandit repo).
    '''
    A_sample = stats.beta.rvs(1 + clicks_A, 1 + views_A - clicks_A, size=sample_size)
    B_sample = stats.beta.rvs(1 + clicks_B, 1 + views_B - clicks_B, size=sample_size)
    return (np.mean(A_sample > B_sample))
calculate_clickthrough_prob(450, 56000, 345, 49000)

# self.assertAlmostEqual(result, 0.97, places=2)

0.9675

In [32]:
# DONE
def calculate_t_test(sample1, sample2, type_I_error_rate):
    '''
    INPUT: NUMPY ARRAY, NUMPY ARRAY
    OUTPUT: FLOAT, BOOLEAN
    You are asked to evaluate whether the two samples come from a population
    with the same population mean.  Return a tuple containing the p-value for
    the pair of samples and True or False depending if the p-value is
    considered significant at the provided Type I Error Rate (i.e. false
    positive rate, i.e. alpha).
    '''
    ttest=stats.ttest_ind(sample1, sample2)[1]
    return ttest
    
    
data = np.genfromtxt('data/t_test.csv')
calculate_t_test(data[:, 0], data[:, 1], 0.001)
# pprint(data[95:])

# hide
#     self.assertIsNotNone(results)
#     self.assertTrue(len(results), 2)
#     self.assertAlmostEqual(results[0], 0.00023790996, 10)
#     self.assertTrue(results[1])

0.00023790996052473

In [129]:
# NOT DONE
df = pd.read_csv("data/universities.csv")
def pandas_query(df):
    '''
    INPUT: DATAFRAME
    OUTPUT: DATAFRAME
    Given a DataFrame containing university data with these columns:
        name, address, Website, Type, Size
    Return the DataFrame containing the average size for each university
    type ordered by average size in ascending order.
    '''
    df[['Size']] = df[['Size']].astype(float)
    df = df.groupby(['Size']).sum()
    # I give up. Sum works, mean doesn't.
    return(df)
pandas_query(pd.read_csv('data/universities.csv'))
# anaswer = [934.38, 1129.41, 2399.89, 3504.50, 6889.37, 11478.91]
#     df = df[['name', 'address', 'Website', 'Type']].groupby((df["Size"]).mean())
#     df = df.sum()

# name        object
# address     object
# Website     object
# Type        object
# Size       float64
# dtype: object

# ['name', 'address', 'Website', 'Type', 'Size']
# df[["Size"]]
# pd.to_numeric
# df_max_rent = (df[['City', 'State', 'med_2011', 'med_2014']]).groupby(['City']).max()



# HIDE
def test_pandas_query(self):
        answer = [934.38, 1129.41, 2399.89, 3504.50, 6889.37, 11478.91]
        result = a.pandas_query(pd.read_csv('data/universities.csv'))
        if isinstance(result, pd.DataFrame):
            self.assertIn('Size', result.columns)
            series = result['Size']
        else:
            series = result
        self.assertIsInstance(series, pd.Series)
        lst = series.values.tolist()
        self.assertEqual(len(lst), 6)
        for x, y in zip(lst, answer):
            self.assertIsInstance(x, float)
            self.assertAlmostEqual(x, y, places=2)

,name,address,Type
Size,,,
4.0,UPMC Presbyterian Shadyside Dietetic Internship,"5230 Centre Ave, Pittsburgh, Pennsylvania 15232","4-year, Private not-for-profit"
7.0,Ingalls Memorial Hospital Dietetic InternshipL...,"One Ingalls Dr, Harvey, Illinois 60426-3558380...","4-year, Private not-for-profit4-year, Private ..."
9.0,St. Basil College,"195 Glenbrook Rd, Stamford, Connecticut 06902-...","4-year, Private not-for-profit"
11.0,Theological Seminary of the Reformed Episcopal...,"826 Second Avenue, Blue Bell, Pennsylvania 194...","4-year, Private not-for-profit4-year, Private ..."
12.0,Augusta Area Dietetic Internship-University Ho...,"1350 Walton Way, Augusta, Georgia 30901-2629Fr...","4-year, Private not-for-profit4-year, Private ..."
13.0,Byzantine Catholic Seminary,"3605 Perrysville Ave, Pittsburgh, Pennsylvania...","4-year, Private not-for-profit"
15.0,Phillips Theological Seminary,"901 N Mingo Rd, Tulsa, Oklahoma 74116-5612","4-year, Private not-for-profit"
17.0,Darkei Noam Rabbinical CollegeKol Yaakov Torah...,"2822 Ave J, Brooklyn, New York 1121029 W Maple...","4-year, Private not-for-profit4-year, Private ..."
18.0,Bexley Hall Episcopal SeminaryThe Colorado Cen...,"583 Sheridan Avenue, Columbus, Ohio 43209-2325...","4-year, Private not-for-profit4-year, Private ..."
19.0,Conway School of Landscape DesignMagnolia Bibl...,"332 South Deerfield Rd, Conway, Massachusetts ...","4-year, Private not-for-profit4-year, Private ..."
23.0,Yeshiva and Kollel Harbotzas Torah,"1049 E 15th St, Brooklyn, New York 11230","4-year, Private not-for-profit"
24.0,University of Phoenix-Des Moines Campus,"6600 Westown Parkway, West Des Moines, Iowa 50...","4-year, Private for-profit"
25.0,California Christian CollegeCarolina Christian...,"4881 E University Ave, Fresno, California 9370...","4-year, Private not-for-profit4-year, Private ..."
26.0,Bais Medrash Elyon,"73 Main St, Monsey, New York 10952","4-year, Private not-for-profit"
27.0,Academy of Vocal ArtsUniversity of Phoenix-Was...,"1920 Spruce St, Philadelphia, Pennsylvania 191...","4-year, Private not-for-profit4-year, Private ..."
29.0,Traditional Chinese Medical College of Hawaii,"65-1206 Mamalahoa Hwy Bldg 3, Kamuela, Hawaii ...","4-year, Private not-for-profit"
31.0,Seattle Institute of Oriental Medicine,"916 NE 65th St., Seattle, Washington 98115","4-year, Private for-profit"
32.0,Institute of Clinical Acupuncture & Oriental Med,"100 N. Beretania Street, Suite 203B, Honolulu,...","4-year, Private for-profit"
33.0,American University of Health Sciences,"3501 Atlantic Ave., Long Beach, California 90807","4-year, primarily associate's, Private for-profit"
34.0,DeVry University-Kentucky,"10172 Linn Station Rd, Louisville, Kentucky 40223","4-year, Private for-profit"
35.0,World Medicine Institute,"1073 Hind Iuka Drive, Honolulu, Hawaii 96821","4-year, Private not-for-profit"
36.0,Dragon Rises College of Oriental Medicine,"1000 NE 16th Ave., Building F, Gainesville, Fl...","4-year, Private for-profit"
37.0,Yeshivah Gedolah Rabbinical CollegeYeshivas Be...,"1140 Alton Rd, Miami Beach, Florida 331391391 ...","4-year, Private not-for-profit4-year, Private ..."
38.0,Temple Baptist CollegeUniversity of Phoenix-Ha...,"11965 Kenn Rd, Cincinnati, Ohio 452404050 Crum...","4-year, Private not-for-profit4-year, Private ..."
39.0,Mesivta of Eastern Parkway-Yeshiva Zichron Mei...,"510 Dahill Rd, Brooklyn, New York 1121828400 E...","4-year, Private not-for-profit4-year, Private ..."
40.0,Truman Medical Center School for Nurse Anesthesia,"2301 Holmes St, Kansas City, Missouri 64108","4-year, Public"
41.0,DeVry University-MichiganRabbinical College Be...,"26999 Central Park Blvd Ste 125, Southfield, M...","4-year, Private for-profit4-year, Private not-..."
42.0,Marlboro College Graduate Center,"28 Vernon Street, Suite #120, Brattleboro, Ver...","4-year, Private not-for-profit"
44.0,American Conservatory TheaterDell'Arte Interna...,"30 Grant Ave, San Francisco, California 94108-...","4-year, Private not-for-profit4-year, Private ..."
45.0,Cooper Health System Center for Allied Health ...,"1 Cooper Plz, Camden, New Jersey 081031216 Arc...","4-year, Private not-for-profit4-year, Private ..."
...,...,...,...
36208.0,California State University-Northridge,"18111 Nordhoff St, Northridge, California 91330","4-year, Public"
36996.0,California State University-Fullerton,"800 N State College Blvd, Fullerton, Californi...","4-year, Public"
37000.0,University of Maryland-College Park,"College Park, Maryland 20742","4-year, Public"
37891.0,California State University-Long Beach,"1250 Bellflower Blvd, Long Beach, California 9...","4-year, Public"
38057.0,University of Arizona,"1401 E University, Tucson, Arizona 85721-0066","4-year, Public"
38220.0,University of California-Los Angeles,"405 Hilgard Ave, Los Angeles, California 90095...","4-year, Public"
38682.0,Florida State University,"211 Westcott Bldg, Tallahassee, Florida 32306-...","4-year, Public"
38759.0,Florida International University,"11200 S. W. 8 Street, Miami, Florida 33199","4-year, Public"
39675.0,University of Washington-Seattle Campus,"1400 NE Campus Parkway, Seattle, Washington 98...","4-year, Public"
40310.0,College of Southern Nevada,"6375 W. Charleston Blvd., Las Vegas, Nevada 89...","4-year, primarily associate's, Public"
40354.0,Indiana University-Bloomington,"107 South Indiana Ave., Bloomington, Indiana 4...","4-year, Public"
41028.0,University of Michigan-Ann Arbor,"Ann Arbor, Michigan 48109","4-year, Public"
41433.0,Purdue University-Main Campus,"Hovde Hall of Administration, West Lafayette, ...","4-year, Public"
41620.0,University of Wisconsin-Madison,"500 Lincoln Dr, Madison, Wisconsin 53706-1380","4-year, Public"
42189.0,New York University,"70 Washington Sq South, New York, New York 100...","4-year, Private not-for-profit"
43246.0,University of Illinois at Urbana-Champaign,"601 E John Street, Champaign, Illinois 61820-5711","4-year, Public"
44406.0,Pennsylvania State University-Main Campus,"201 Old Main, University Park, Pennsylvania 16...","4-year, Public"
45153.0,Kaplan University,"1801 E Kimberly Rd Ste 1, Davenport, Iowa 52807","4-year, Private for-profit"
45491.0,Strayer University,"1133 15th St NW, Washington, District of Colum...","4-year, Private for-profit"
46189.0,University of South Florida,"4202 East Fowler Ave, Tampa, Florida 33620-9951","4-year, Public"
46510.0,Michigan State University,"East Lansing, Michigan 48824-1046","4-year, Public"
48039.0,Texas A & M University,"College Station, Texas 77843","4-year, Public"
49984.0,The University of Texas at Austin,"Austin, Texas 78712","4-year, Public"
50121.0,University of Central Florida,"4000 Central Florida Blvd, Orlando, Florida 32816","4-year, Public"
51140.0,University of Minnesota-Twin Cities,"100 Church Street SE, Minneapolis, Minnesota 5...","4-year, Public"
51474.0,University of Florida,"355 Tigert Hall, Gainesville, Florida 32611-3115","4-year, Public"
53715.0,Ohio State University-Main Campus,"190 N. Oval Mall, Columbus, Ohio 43210","4-year, Public"
57222.0,Miami Dade College,"300 NE 2nd Ave., Miami, Florida 33132-2297","4-year, primarily associate's, Public"
67082.0,Arizona State University,"Tempe, Arizona 85287","4-year, Public"
301323.0,University of Phoenix-Online Campus,"3157 E. Elwood Street, Phoenix, Arizona 85034-...","4-year, Private for-profit"

In [40]:
# DONE
def df_to_numpy(df, y_column):
    '''
    INPUT: DATAFRAME, STRING
    OUTPUT: 2 DIMENSIONAL NUMPY ARRAY, NUMPY ARRAY
    Make the column named y_column into a numpy array (y) and make the rest of
    the DataFrame into a 2 dimensional numpy array (X). Return (X, y).
    E.g.
                a  b  c
        df = 0  1  3  5
             1  2  4  6
        y_column = 'c'
        output: np.array([[1, 3], [2, 4]]), np.array([5, 6])
    '''
    
    y_col = df[y_column]
    
    df.pop(y_column)
    return df,y_col
df = pd.DataFrame({'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8],
                           'c': [9, 10, 11, 12], 'd': [13, 14, 15, 16]})
df_to_numpy(df, 'c')


# HIDE

# df = pd.DataFrame({'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8],
#                        'c': [9, 10, 11, 12], 'd': [13, 14, 15, 16]})
# results = a.df_to_numpy(df, 'c')
# self.assertIsNotNone(results)
# self.assertEqual(len(results), 2)
# X, y = results
# self.assertIsInstance(X, np.ndarray)
# self.assertIsInstance(y, np.ndarray)
# self.assertEqual(X.tolist(), [[1, 5, 13], [2, 6, 14], [3, 7, 15], [4, 8, 16]])
# self.assertEqual(y.tolist(), [9, 10, 11, 12])

(   a  b   d
 0  1  5  13
 1  2  6  14
 2  3  7  15
 3  4  8  16, 0     9
 1    10
 2    11
 3    12
 Name: c, dtype: int64)

In [80]:

def only_positive(arr):
    '''
    INPUT: 2 DIMENSIONAL NUMPY ARRAY
    OUTPUT: 2 DIMENSIONAL NUMPY ARRAY
    Return a numpy array containing only the rows from arr where all the values
    in that row are positive.
    E.g.  np.array([[1, -1, 2], 
                    [3, 4, 2], 
                    [-8, 4, -4]])
              ->  np.array([[3, 4, 2]])
    Use numpy methods to do this, full credit will not be awarded for a python
    for loop.
    '''
#     if any(x<0 for x in arr) == False:
#         print(arr)
#     for x in range(0,(arr.shape[0])):
#          if all( >= 30 for i in my_list2
#             print(arr[x])
    n = 0
    while n < arr.shape[0]:
        print("Yo")
        n+=1
# arr = np.array([[1, 2, 3], [4, -5, -6], [-7, 8, 9], [10, 11, 12]])

arr = np.array([[1, -1, 2], 
                    [3, 4, 2], 
                    [-8, 4, -4]])
only_positive(arr)

result = a.only_positive(arr)
        self.assertIsInstance(result, np.ndarray)
        self.assertEqual(result.tolist(), [[1, 2, 3], [10, 11, 12]])

Yo
Yo
Yo

In [41]:
# DONE
def add_column(arr, col):
    '''
    INPUT: 2 DIMENSIONAL NUMPY ARRAY, NUMPY ARRAY
    OUTPUT: 2 DIMENSIONAL NUMPY ARRAY
    Return a numpy array containing arr with col added as a final column. You
    can assume that the number of rows in arr is the same as the length of col.
    E.g.  np.array([[1, 2], [3, 4]]), np.array([5, 6))
              ->  np.array([[1, 2, 5], [3, 4, 6]])
    '''
    for i in range(col.shape[0]):
        np.append(arr[i],(col[i]))
#         print(arr[0]) = [1 2]
#          col[0] = 5
#         arr[i].np.append(col[i])
    return arr

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
col = np.array([10, 11, 12])
add_column(arr, col)
# answer = [[1, 2, 3, 10], [4, 5, 6, 11], [7, 8, 9, 12]]


# add_column(np.array([[1, 2], [3, 4]]), np.array([5, 6]))


# HIDE
    # arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
    # col = np.array([10, 11, 12])
    # result = a.add_column(arr, col)
    # answer = [[1, 2, 3, 10], [4, 5, 6, 11], [7, 8, 9, 12]]
    # self.assertIsInstance(result, np.ndarray)
    # self.assertEqual(result.tolist(), answer)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
#ignore
A=np.array([[2,2],
            [2,2]])
B=np.copy(A)
B=B.fill(1)

In [ ]:
# ignore
logins = [10, 25, 12, 35, 14, 18, 16, 15, 22, 10, 9, 11, 49, 20, 15, 9, 18, 19, 20, 20]
print(np.mean(logins))
print(np.var(logins))
np.sqrt(86.9275)

sum(i < 16 for i in logins)

In [51]:
# DONE
    '''
    INPUT: 2 DIMENSIONAL NUMPY ARRAY, 2 DIMENSIONAL NUMPY ARRAY
    OUTPUT: TUPLE
    If matrices A (dimensions m x n) and B (dimensions p x q) can be
    multiplied (AB), return the shape of the result of multiplying them. Use the
    shape function. Do not actually multiply the matrices, just return the
    shape.
    If A and B cannot be multiplied, return None.
    '''
def size_of_multiply(A, B):
        try:
            mult = (np.matmul(A,B)).shape
        except:
            mult = None
        return mult

A = np.array([[1, 2], [3, 4], [5, 6]])
B = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
print(size_of_multiply(A,B))


#hide 
    # A = np.array([[1, 2]])
    # B = np.array([[3, 4]])
    # self.assertIsNone(a.size_of_multiply(A, B))
    # A = np.array([[1, 2], [3, 4], [5, 6]])
    # B = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
    # self.assertEqual(a.size_of_multiply(A, B), (3, 4))
    # self.assertIsNone(a.size_of_multiply(B, A))

(3, 4)

In [79]:
# DONE
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import mean_squared_error, r2_score

# Linear Regression
def linear_regression(X_train, y_train, X_test, y_test):
    '''
    INPUT: 2 DIMENSIONAL NUMPY ARRAY, NUMPY ARRAY
    OUTPUT: TUPLE OF FLOATS, FLOAT
    The R^2 statistic, also known as the coefficient of determination, is a
    popular measure of fit for a linear regression model.  If you need a
    refresher, this wikipedia page should help:
    https://en.wikipedia.org/wiki/Coefficient_of_determination
    Use the sklearn LinearRegression to find the best fit line for X_train and
    y_train. Calculate the R^2 value for X_test and y_test.
    Return a tuple of the coefficients and the R^2 value. Your returned data
    should be in this form:
    (12.3, 9.5), 0.567
    '''
    lr = LinearRegression()
    lr.fit(X_train, y_train)
        
    #y_hats
    train_predicted = lr.predict(X_train)
    test_predicted = lr.predict(X_test)
    r_squared = r2_score(y_test, test_predicted)

    return(r_squared)

df = pd.read_csv('../data/lin_reg.csv')
X = df[['A', 'B']].values
y = df['C'].values
X_train = X[:25]
y_train = y[:25]
X_test = X[25:]
y_test = y[25:]

linear_regression(X_train, y_train, X_test, y_test)

# hide
    # df = pd.read_csv('data/lin_reg.csv')
    # X = df[['A', 'B']].values
    # y = df['C'].values
    # X_train = X[:25]
    # y_train = y[:25]
    # X_test = X[25:]
    # y_test = y[25:]
    # results = a.linear_regression(X_train, y_train, X_test, y_test)
    # self.assertIsNotNone(results)
    # self.assertEqual(len(results), 2)
    # coeffs, r2 = results
    # self.assertAlmostEqual(r2, 0.773895, 6)
    # self.assertAlmostEqual(coeffs[0], 13.815259, 6)
    # self.assertAlmostEqual(coeffs[1], 85.435835, 6)

0.7738950641395959

In [45]:
# DONE
def sql_query():
    '''
    INPUT: None
    OUTPUT: STRING
    Given a table named universities which contains university data with these
    columns:
        name, address, Website, Type, Size
    Return a SQL query that gives the average size of each university type
    in ascending order.
    '''
    # Your code should look like this:
    # return '''SELECT * FROM universities;'''
    return '''SELECT type, AVG(size) from universities GROUP BY type ORDER by size ASC;'''
sql_query()
# hide
    # result = run_sql_query(a.sql_query(), 'data/sqlite.db')
    # self.assertEqual(len(result), 6)
    # answer = [("4-year, primarily associate's, Private for-profit", 934.38),
    #           ("4-year, primarily associate's, Private not-for-profit", 1129.41),
    #           ("4-year, Private not-for-profit", 2326.93),
    #           ("4-year, Private for-profit", 3319.40),
    #           ("4-year, primarily associate's, Public", 6889.37),
    #           ("4-year, Public", 11200.30)]
    # for res, ans in zip(result, answer):
    #     self.assertEqual(len(res), 2)
    #     if type(res[1]) == int:
    #         type_index, size_index = 1, 0
    #     else:
    #         type_index, size_index = 0, 1
    #     self.assertEqual(res[type_index], ans[0])
    #     self.assertAlmostEqual(res[size_index], ans[1], 2)

'SELECT type, AVG(size) from universities GROUP BY type ORDER by size ASC;'

In [44]:
'''
* Fill each each function stub according to the docstring.
* To run the unit tests: Make sure you are in the root dir(assessment-3)
  Then run the tests with this command: "make test"
'''



# Probability
def roll_the_dice(n_simulations = 1000):
    '''
    INPUT: INT
    OUTPUT: FLOAT
    Two unbiased, six sided, dice are thrown once and the sum of the showing
    faces is observed (so if you rolled a 3 and a 1, you would observe the sum,
    4). Use a simulation to find the estimated probability that the total score
    is an even number or a number greater than 7.  Your function should return 
    an estimated probability, based on rolling the two dice n_simulations times.
    '''
    pass


# A/B Testing
def calculate_clickthrough_prob(clicks_A, views_A, clicks_B, views_B):
    '''
    INPUT: INT, INT, INT, INT
    OUTPUT: FLOAT
    Calculate and return an estimated probability that SiteA performs better
    (has a higher click-through rate) than SiteB.
    Hint: Use Bayesian A/B Testing (multi-armed-bandit repo).
    '''
    pass


# Statistics
def calculate_t_test(sample1, sample2, type_I_error_rate):
    '''
    INPUT: NUMPY ARRAY, NUMPY ARRAY
    OUTPUT: FLOAT, BOOLEAN
    You are asked to evaluate whether the two samples come from a population
    with the same population mean.  Return a tuple containing the p-value for
    the pair of samples and True or False depending if the p-value is
    considered significant at the provided Type I Error Rate (i.e. false
    positive rate, i.e. alpha).
    '''
    pass


# Pandas and Numpy
as


def df_to_numpy(df, y_column):
    '''
    INPUT: DATAFRAME, STRING
    OUTPUT: 2 DIMENSIONAL NUMPY ARRAY, NUMPY ARRAY
    Make the column named y_column into a numpy array (y) and make the rest of
    the DataFrame into a 2 dimensional numpy array (X). Return (X, y).
    E.g.
                a  b  c
        df = 0  1  3  5
             1  2  4  6
        y_column = 'c'
        output: np.array([[1, 3], [2, 4]]), np.array([5, 6])
    '''
    pass


def only_positive(arr):
    '''
    INPUT: 2 DIMENSIONAL NUMPY ARRAY
    OUTPUT: 2 DIMENSIONAL NUMPY ARRAY
    Return a numpy array containing only the rows from arr where all the values
    in that row are positive.
    E.g.  np.array([[1, -1, 2], 
                    [3, 4, 2], 
                    [-8, 4, -4]])
              ->  np.array([[3, 4, 2]])
    Use numpy methods to do this, full credit will not be awarded for a python
    for loop.
    '''
    pass


def add_column(arr, col):
    '''
    INPUT: 2 DIMENSIONAL NUMPY ARRAY, NUMPY ARRAY
    OUTPUT: 2 DIMENSIONAL NUMPY ARRAY
    Return a numpy array containing arr with col added as a final column. You
    can assume that the number of rows in arr is the same as the length of col.
    E.g.  np.array([[1, 2], [3, 4]]), np.array([5, 6))
              ->  np.array([[1, 2, 5], [3, 4, 6]])
    '''
    pass


def size_of_multiply(A, B):
    '''
    INPUT: 2 DIMENSIONAL NUMPY ARRAY, 2 DIMENSIONAL NUMPY ARRAY
    OUTPUT: TUPLE
    If matrices A (dimensions m x n) and B (dimensions p x q) can be
    multiplied (AB), return the shape of the result of multiplying them. Use the
    shape function. Do not actually multiply the matrices, just return the
    shape.
    If A and B cannot be multiplied, return None.
    '''
    pass


# Linear Regression
def linear_regression(X_train, y_train, X_test, y_test):
    '''
    INPUT: 2 DIMENSIONAL NUMPY ARRAY, NUMPY ARRAY
    OUTPUT: TUPLE OF FLOATS, FLOAT
    The R^2 statistic, also known as the coefficient of determination, is a
    popular measure of fit for a linear regression model.  If you need a
    refresher, this wikipedia page should help:
    https://en.wikipedia.org/wiki/Coefficient_of_determination
    Use the sklearn LinearRegression to find the best fit line for X_train and
    y_train. Calculate the R^2 value for X_test and y_test.
    Return a tuple of the coefficients and the R^2 value. Your returned data
    should be in this form:
    (12.3, 9.5), 0.567
    '''
    pass


# SQL
def sql_query():
    '''
    INPUT: None
    OUTPUT: STRING
    Given a table named universities which contains university data with these
    columns:
        name, address, Website, Type, Size
    Return a SQL query that gives the average size of each university type
    in ascending order.
    '''
    # Your code should look like this:
    # return '''SELECT * FROM universities;'''
    pass

SyntaxError: invalid syntax (<ipython-input-44-8b707e68af23>, line 50)